.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app__top {
  flex: 1;
}
.app__logo {
  max-width: 100px;
  max-height: 100px;
}

.app__from {
  flex: 0;
  padding: 20px;
  /* position: fixed;
  bottom: 0; */
  /* z-index: 1; */
  width: 93%;
  margin: 20px;
  background-color: #e9e9eb;
}

.app__fromControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__iconButton {
  flex: 0;
}

.app__input {
  flex: 1;
}
